.section-title {
    text-align: center;
    /* padding-bottom: 30px; */
}

.pricing .row {
    padding-top: 0px;
}

.card {
    margin-top: 57px;
    border-radius: 8px 40px 40px 8px;
    transition: all 0.5s ease-in-out;
    box-shadow: 1px 0px 8px 2px greenyellow;
}

.bg-dark {
    background-color: #63d471;
    background-image: linear-gradient(315deg, #63d471 0%, #233329 74%);
}

label {
    color: white;
    margin-top: 15px;
    font-family: 'Itim', cursive;
}

.jumbotron {
    background-color: #63d471;
    background-image: linear-gradient(315deg, #63d471 0%, #233329 74%);
}

#gender {
    width: 300px;
}

#slot {
    width: 300px;
}

#dept {
    width: 300px;
}

.form-group input {
    width: 300px;
    border: none;
    /* border-bottom: 1px solid purple; */
    border-bottom: 2px solid green;
    outline: none;
    font-size: 22px;
    margin-bottom: 5px;
    font-family: 'Itim', cursive;
}

option {
    width: 400px;
    border: none;
    border-bottom: 2px solid green;
    outline: none;
    font-size: 22px;
    margin-bottom: 5px;
}

.form-group input:hover {
    background-color: ghostwhite;
}

#btn {
    background-color: #63d471;
    background-image: linear-gradient(315deg, #63d471 0%, #233329 74%);
    border-radius: 15px;
    border: none;
    position: relative;
    width: 300px;
}

#btn:hover {
    background-color: white;
    color: white;
}

/* #doctor{
    margin-top: 4em;
    margin-left: 10em;
    object-fit:fill;
} */

#container {
    height: 100vh;
    width: 100%;
    background-color:whitesmoke;
    background-position: center;
    background-size: cover;
    box-sizing: border-box;
    position: relative;
}

#content {
    position: relative;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}
#text {
    max-width: 100%;
}
#text h1 {
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    font-weight: 800;
    margin-top: 80px;
    line-height: 1.5em;
    letter-spacing: .1em;
    font-size: 40px;
    color: #489153;
    margin-left: 1.5em;
    text-align: justify;
}
#text h1 span {
    font-size: 50px;
    margin-left: 3.5em;
    text-align: justify;
}
#text p {
    font-size: 17px;
    font-weight: 600;
    letter-spacing: .1em;
    margin-top: 40px;
    color: black;
    margin-left: 1.5em;
    text-align: justify;
 }
 #mainImage {
    /* display: flex; */
    height: 80%;
    /* position: absolute; */
    width: 80%;
    margin-top: 80px;
    margin-left: 1000em;
    justify-content: flex-end;
}