{% extends 'base.html' %}

{% block title %}
HOME
{% endblock title %}

{% block body %}

{% with messages=get_flashed_messages(with_categories=true) %}
{% if messages %}
{% for category, message in messages %}

<div class="alert alert-{{category}} alert-dismissible fade show" role="alert">
    {{message}}

  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>


{% endfor %}
{% endif %}
{% endwith %}

<div class="flex-box" id="container">
  <div class="row" id="content">
  <div class="col-md-6" id="text">
    <h1>Welcome To<br> <span>KeyHealth</span></h1>
    <p>
      KeyHealth is a Hospital Management System enabling hospitals to manage information and data related to all aspects of healthcare – processes, providers, patients, and more, which in turn ensures that processes are completed swiftly and effectively.
      <br><br>It serves as the link between doctors and patients facilitating the booking of appointments and management of the same.
      
    </p>
  </div>

  <div class = "col-md-6">
    <img src="static/illustration.png" class="d-block w-100" alt="..." id="doctor">
  </div>
</div>
</div>

{% endblock body %}